{% extends 'rezervace/base.html' %}

{% block title %}Tennis Reservation System{% endblock %}

{% block content %}
<h1 class="mb-4">Tennis Reservation System</h1>

<div class="list-group">
    <a href="{% url 'select_location_reservation' %}" class="list-group-item list-group-item-action">Make a Reservation</a>
    <a href="{% url 'location_list' %}" class="list-group-item list-group-item-action">List of Locations</a>
    <a href="{% url 'tournament_list' %}" class="list-group-item list-group-item-action">List of Tournaments</a>
    <a href="{% url 'review_list' %}" class="list-group-item list-group-item-action">List of Reviews</a>
    <a href="{% url 'reservation_list' %}" class="list-group-item list-group-item-action">List of Reservations</a>
</div>
{% endblock %}