<!DOCTYPE html>
<html>

<head>
    <title>{{ location.name }}</title>
</head>

<body>
    <h1>{{ location.name }}</h1>
    <p><strong>Address:</strong> {{ location.address }}</p>
    <p><strong>City:</strong> {{ location.city }}</p>
    <p><strong>Clay Courts:</strong> {{ location.clay_courts }}</p>
    <p><strong>Grass Courts:</strong> {{ location.grass_courts }}</p>
    <p><strong>Hard Courts:</strong> {{ location.hard_courts }}</p>

    <h2>Reviews</h2>
    <ul>
        {% for review in location.reviews.all %}
        <li>
            <strong>{{ review.name }}</strong> ({{ review.rating }} stars): {{ review.comment }}
            <br>
        </li>
        {% empty %}
        <li>No reviews yet. Be the first to write one below!</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'write_review' location.pk %}">Write a Review for This Location</a>
    </p>

    <p>
        <a href="{% url 'location_list' %}">Back to List of Locations</a>
    </p>
</body>

</html>