<!-- filepath: /Users/jirihavlicek/school/4semestr/skj/Projekt/rezervacni_system/rezervace/templates/rezervace/reservation_list.html -->
{% extends 'rezervace/base.html' %}

{% block title %}Reservation List{% endblock %}

{% block content %}
<h1 class="mb-4">Reservation List</h1>

<ul class="list-group">
    {% for reservation in reservations %}
    <li class="list-group-item">
        {{ reservation.name }} - {{ reservation.location.name }} - {{ reservation.court.name }}
        - {{ reservation.date }} - {{ reservation.time_slot }}
    </li>
    {% endfor %}
</ul>

<div class="mt-4">
    <a href="{% url 'select_location_reservation' %}" class="btn btn-success">Create a Reservation</a>
    <a href="{% url 'homepage' %}" class="btn btn-secondary">Back to Homepage</a>
</div>
{% endblock %}