<!DOCTYPE html>
<html>

<head>
    <title>Create Reservation</title>
</head>

<body>
    <h1>Create Reservation</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="error">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <p>
            Court: {{ form.court }}
        </p>
        <p>
            Date: {{ form.date }}
        </p>
        <p>
            Time Slot: {{ form.time_slot }}
        </p>
        <p>
            Name: {{ form.name }}
        </p>
        <p>
            Email: {{ form.email }}
        </p>
        <button type="submit">Submit</button>
    </form>
    <p>
        <a href="{% url 'select_location_reservation' %}">Back to Location Selection</a>
    </p>
</body>

</html>