<!-- filepath: /Users/jirihavlicek/school/4semestr/skj/Projekt/rezervacni_system/rezervace/templates/rezervace/reservation_list.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Reservation List</title>
</head>

<body>
    <h1>Reservation List</h1>
    <ul>
        {% for reservation in reservations %}
        <li>
            {{ reservation.name }} - {{ reservation.court.name }} - {{ reservation.date }} - {{ reservation.time_slot }}
        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="{% url 'homepage' %}">Back to Homepage</a>
    </p>
</body>

</html>