{% extends 'rezervace/base.html' %}

{% block title %}Review List{% endblock %}

{% block content %}
<h1 class="mb-4">Review List</h1>

<ul class="list-group">
    {% for review in reviews %}
    <li class="list-group-item">
        <strong>{{ review.name }}</strong> ({{ review.rating }} stars) - {{ review.location.name }}
        <br>
        {{ review.comment }}
    </li>
    {% empty %}
    <li class="list-group-item">No reviews available.</li>
    {% endfor %}
</ul>

<a href="{% url 'select_location_review' %}" class="btn btn-success mt-3">Write a Review</a>
<a href="{% url 'homepage' %}" class="btn btn-secondary mt-3">Back to Homepage</a>
{% endblock %}