{% extends 'rezervace/base.html' %}

{% block title %}Tournament List{% endblock %}

{% block content %}
<h1 class="mb-4">Tournament List</h1>

<ul class="list-group">
    {% for tournament in tournaments %}
    <li class="list-group-item">
        <a href="{% url 'tournament_detail' tournament.pk %}">{{ tournament.name }}</a>,
        {{ tournament.location.name }} ({{ tournament.date }})
    </li>
    {% endfor %}
</ul>

<div class="mt-4">
    <a href="{% url 'create_tournament' %}" class="btn btn-success">Create a Tournament</a>
    <a href="{% url 'homepage' %}" class="btn btn-secondary">Back to Homepage</a>
</div>
{% endblock %}